.box {

    display: grid;
    height: 100vh;

   
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(12,1fr);

    grid-auto-flow:column;

    gap: 10px;

    grid-template-areas: "1 2 4 7 11 17"
                         "1 2 4 7 11 18"
                         "1 2 4 7 12 19"
                         "1 2 4 8 12 20"
                         "1 2 5 8 13 21"
                         "1 2 5 8 13 22"
                         "1 3 5 9 14 23"
                         "1 3 5 9 14 24"
                         "1 3 6 9 15 25"
                         "1 3 6 10 15 26"
                         "1 3 6 10 16 27"
                         "1 3 6 10 16 28"
                         
}


.item{
    background-color: green;
}

.item:nth-child(1){
    grid-area: 1;
}
.item:nth-child(2){
    grid-area: 2;
}
.item:nth-child(3){
    grid-area: 3;
}
.item:nth-child(4){
    grid-area: 4;
}
.item:nth-child(5){
    grid-area: 5;
}
.item:nth-child(6){
    grid-area: 6;
}
.item:nth-child(7){
    grid-area: 7;
}
.item:nth-child(8){
    grid-area: 8;
}
.item:nth-child(9){
    grid-area: 9;
}
.item:nth-child(10){
    grid-area: 10;
}
.item:nth-child(11){
    grid-area: 11;
}
.item:nth-child(12){
    grid-area: 12;
}
.item:nth-child(13){
    grid-area: 13;
}
.item:nth-child(14){
    grid-area: 14;
}
.item:nth-child(15){
    grid-area: 15;
}
.item:nth-child(16){
    grid-area: 16;
}
.item:nth-child(17){
    grid-area: 17;
}
.item:nth-child(18){
    grid-area: 18;
}
.item:nth-child(19){
    grid-area: 19;
}
.item:nth-child(20){
    grid-area: 20;
}
.item:nth-child(21){
    grid-area: 21;
}
.item:nth-child(22){
    grid-area: 22;
}
.item:nth-child(23){
    grid-area: 23;
}
.item:nth-child(24){
    grid-area: 24;
}
.item:nth-child(25){
    grid-area: 25;
}
.item:nth-child(26){
    grid-area: 26;
}
.item:nth-child(27){
    grid-area: 27;
}
.item:nth-child(28){
    grid-area: 28;
}




/* .item:nth-child(1){
    grid-row: span 12;
}

.item:nth-child(2),.item:nth-child(3){
    grid-row: span 6;
}

.item:nth-child(4),.item:nth-child(5),.item:nth-child(6){
    grid-row: span 4;
}
.item:nth-child(7),.item:nth-child(8),.item:nth-child(9),.item:nth-child(10){
    grid-row: span 3;
}
.item:nth-child(11),.item:nth-child(12),.item:nth-child(13),.item:nth-child(14),.item:nth-child(15),.item:nth-child(16){
    grid-row: span 2;
} */