.modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000050;
}

.card {
    // transform: translate(-50%,-50%);
    width: 540px;

    color: #fff;

    &__header {
        padding: 48px 56px;
        background-color: rgba(51, 61, 75, 1);
    }

    &__title {
        color: #fff;
        font-size: 40px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        line-height: 48px;
    }

    &__body {
        padding: 48px 56px;
        background-color: #fff;
        color: #000;
    }

    &__info {
        color: #83888f;
        font-size: 24px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        line-height: 40px;

        margin-bottom: 7px;
    }

    &__text {
        color: #333d4b;
        font-size: 16px;
        font-family: Barlow;
        line-height: 26px;

        margin-bottom: 47px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__price {
        color: #333d4b;
        font-size: 32px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        line-height: 36px;
    }

    &__btn {
        padding: 16px 64px;

        border-radius: 6px;
        background: #0e8784;
        border: none;

        color: #fefcf7;
        text-align: center;
        font-size: 18px;
        font-family: Fraunces 9pt;
        font-weight: 900;
        line-height: 25px;
    }
}
