%main-font {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
}

.hero {
    height: 600px;
    padding: 116px 85px;

    color: #fff;
    background: url("../images/home-hero.png") center;
    background-size: contain;
    background-repeat: no-repeat;

    &__content {
        width: 492px;
    }

    &__title {
        // font-family: "Fraunces 9pt";
        // font-style: normal;
        // font-weight: 900;
        // font-size: 72px;
        // line-height: 72px;
        @extend %main-font;
        /* or 100% */

        color: #fefcf7;
    }
    &__text {
        margin-top: 32px;
        font-family: "Barlow";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */

        color: #fefcf7;

        mix-blend-mode: normal;
        opacity: 0.8;
    }

    &__btn {
        margin-top: 56px;
        padding: 15px 31px;

        font-family: "Fraunces 9pt";
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height, or 139% */

        text-align: center;

        color: #fefcf7;

        background: #0E8784;
        border-radius: 6px;
        border: none;
    }

    /* about */

    &--about {
        height: 450px;
        background: url("../images/about-hero.jpeg") center;
    }

    &__title--about {
        font-family: "Fraunces 9pt";
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;

        color: #fefcf7;
    }

    /* about */

    &--subscribe {
        height: 450px;
        background: url("../images/subscribe-hero.png") center;
    }

    &__title--subscribe {
        font-family: "Fraunces 9pt";
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;

        color: #fefcf7;
    }
}

@media only screen and (max-width: 950px) {
    .hero{
        max-height: 854px;

        background-size: cover;

        &__content{
            max-width: 400px;
            width: auto;
        }
        &__title {

            font-size: 48px;
            line-height: 48px;
        }

        &__text{
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 550px) {
    .hero{
        max-height: 854px;

        padding: 100px 24px;
        background: url("../../images/hero-mb-main.png") center;
        background-repeat: no-repeat;
        background-size: cover;

        &__content{
            text-align: center;
            max-width: 400px;
            width: auto;
        }
        &__title {

            font-size: 40px;

            line-height: 40px;
            
        }

        &__text{
            font-size: 15px;
            
            line-height: 25px;
        }
    }
}